.flex {
    display: flex !important
}

.space-between {
    justify-content: space-between
}


.justify-center {
    justify-content: center
}

.align-center {
    align-items: center
}

.relative {
    position: relative
}

.header {
    z-index: 9 !important
}

.quiz__title {
    letter-spacing: 1px;
    color: #0066cc
}

.quiz_button {
    background-color: #0066CC;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    padding: 2rem 3rem;
    cursor: pointer;
}

.practic .quiz__title,
.offer .quiz__title {
    color: var(--main-sub-color)
}

.practic .quiz_button,
.offer .quiz_button {
    background-color: var(--main-sub-color)
}

.owner .quiz__title {
    color: #de2431
}

.owner .quiz_button {
    background-color: #de2431
}

.women .quiz__title {
    color: var(--main-color)
}

.women .quiz_button {
    background-color: var(--main-color)
}

#question {
    color: #263238;
    font-weight: 500
}

#question p {
    letter-spacing: 1px;
    border-bottom: 3px solid #F4F4F4
}

#question ul {
    list-style-type: none
}

#question li input[type="radio"] {
    min-width: 15px;
    min-height: 15px
}

#question ul li {
    display: flex;
    align-items: center
}

#modal__quiz .module-item {
    border: none
}

#modal__quiz .module-item-modal {
    background-color: #fff;
    box-shadow: 0 4px 32px rgba(157, 169, 194, .24);
    border-radius: 7px
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .42)
}

.modal,
.modal__overlay {
    height: 100%;
    width: 100%
}

.modal--active {
    opacity: 1 !important;
    pointer-events: auto !important
}

.quiz--header>span {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.95px;
    padding: 4px 10px;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 5px;
    color: #B0B0B0;
}



@media(max-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: column
    }

    .quiz--header {
        align-items: flex-start;
    }

    .quiz--header>span {
        display: inline-block;
        margin-bottom: 15px;
    }

    #modal__quiz .module-item__list {
        padding: 15px
    }

    .quiz__title {
        font-size: 22px;
        line-height: 26px
    }

    #question p {
        font-size: 14px;
        line-height: 19px;
        padding: 10px 0
    }

    #question ul {
        padding: 20px;
        font-size: 14px;
        line-height: 18px;
        max-height: 240px;
        overflow-y: auto
    }

    #question ul li:not(:last-child) {
        margin-bottom: 15px
    }

    #question ul li label {
        padding-left: 10px
    }

    #modal__quiz .modal__container {
        padding: 20px;
        width: 100%
    }

    #modal__quiz .module-item-modal {
        width: 100%
    }

    .quiz_button {
        min-height: auto;
        min-width: auto
    }
}

@media(min-width:768px) {
    .quiz--header {
        flex-direction: row-reverse
    }

    #modal__quiz .module-item__list {
        padding: 20px 40px 34px 30px
    }

    #modal__quiz .module-item-modal {
        width: 735px
    }

    #modal__quiz .quiz__title {
        font-size: 35px;
        line-height: 42px
    }

    #question p {
        font-size: 16px;
        line-height: 19px;
        padding: 20px 0 25px
    }

    #question ul {
        padding: 15px 0 20px;
        font-size: 16px;
        line-height: 24px;
        max-height: 300px;
        overflow-y: auto
    }

    .quiz_button {
        min-width: 200px
    }

    #question ul li:not(:last-child) {
        margin-bottom: 20px
    }

    #question ul li label {
        padding-left: 14px
    }

    .quiz--header {
        align-items: center
    }
}