.first-bg {
	height: 100vh;
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header {
	background: transparent;
	z-index: 99999 !important;
	transition: .15s ease-in-out;
}

.container {
	padding: 0;
}

.header:after,
.menu__item:after {
	height: 1px;
}

.header:after {
	background: rgba(255, 255, 255, 0.3) !important;
}

.first--title {
	color: #FFFFFF;
	font-size: 60px;
	line-height: 72px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-weight: 900;
	padding-bottom: 50px;
}

.first-info span {
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	color: #FFFFFF;
}

.first-info {
	padding-bottom: 65px;
}

.first-btn button {
	padding: 20px 23px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #DE2431;
	box-shadow: 0px 20px 25px rgba(222, 36, 49, 0.16), 0px 10px 10px rgba(0, 0, 0, 0.04);
	border: none;
}

.first-section {
	height: calc(100% - 80px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.first-info,
.first--info__item,
.first-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.first--info__item img {
	margin-right: 10px;
}

.first-info .first--info__item:not(:last-child) {
	margin-right: 40px;
}

#allrecords a.menu__item {
	color: #Fff !important;
}

.header {
	padding: 0 15%;
}

.card-bg {
	padding: 7rem 0 6rem;
}

.card--title {
	font-size: 40px;
	line-height: 45px;
	font-weight: 900;
	color: #000000;
	padding-bottom: 50px;
	text-align: center;
}

.card--items {
	display: flex;
	justify-content: space-between;
}

.card--item {
	width: 47%;
}

.l--item .card--item__title {
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/p2.png);
}

.r--item .card--item__title {
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/p1.png);
}

.card--item__title {
	min-height: 205px;
	display: flex;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
	border-radius: 5px;
	font-size: 25px;
	line-height: 30px;
	font-weight: 900;
	color: #FFFFFF;
	padding: 0 260px 30px 20px;
	align-items: flex-end;
}

.card--item__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	padding-top: 23.5px;
}

.card--item__text span {
	font-weight: 900;
}

.sticky-wrapper.is-sticky .header {
	background: #fff;
}

#allrecords .sticky-wrapper.is-sticky a.menu__item {
	color: #8f8f8f !important;
}

.sticky-wrapper.is-sticky .header__logo img {
	content: url(http://constructor.biz.ua/tilda-img/logo.svg);
}

.line-red {
	padding: 40px 0 42px;
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/line-pattern.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.line-red--text {
	font-size: 25px;
	line-height: 35px;
	font-weight: 900;
	color: #fff;
}

.text-we img {
	margin: 0 auto;
	display: block;
	margin-top: -1px;
}

.we-items {
	padding: 50px 0 60px;
	max-width: 810px;
	margin: 0 auto;
}

.text-we,
.form-bg {
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/pattern.svg), #171718;
}

.title-we {
	font-size: 45px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
	padding-bottom: 35px;
}

.we--item {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.we-items .we--item:not(:last-child) {
	margin-bottom: 40px;
}

.feature-bg {
	padding: 6rem 0;
}

.feature-title {
	font-size: 45px;
	line-height: 35px;
	text-align: center;
	font-weight: 900;
	color: #000000;
	margin-bottom: 4rem;
}

.feature-items {
	display: flex;
	justify-content: space-between;
}

.feature-item {
	display: flex;
	flex-direction: column;
	width: 31%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px 25px;
	align-items: center;
}

.feature-item img {
	margin-bottom: 20px;
}

.feature--text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #000000;
}

.study-bg {
	padding: 6rem 0 6rem;
	background: #F7F7F8;
}

.study {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.study-item {
	width: 45%;
}

.study-title {
	font-size: 30px;
	line-height: 35px;
	font-weight: 900;
	color: #000000;
	margin-bottom: 30px;
}

.study-text {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.study-text p:not(:last-child) {
	margin-bottom: 40px;
}

.countries-bg {
	padding: 6rem 0;
	background: url(http://constructor.biz.ua/tilda-img/owner/assets/map.png) no-repeat 100% 23%, #171718;
}

.countries {
	color: #FFFFFF;
	line-height: 35px;
	max-width: 600px;
}

.countries span {
	font-weight: 500;
	font-size: 20px;
}

.countries .nums {
	color: #DE2431;
	font-weight: 500;
	font-size: 35px;
	margin-bottom: 15px;
}

.countries p {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

.top {
	line-height: 35px;
	margin-bottom: 30px;
}

.nums span {
	font-size: 45px;
	line-height: 35px;
	font-weight: 900;
}

.countries p {
	margin: 15px 0 35px;
}

.info-bg {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 6rem 0;
	position: relative;
}

.info-title {
	font-size: 45px;
	line-height: 55px;
	font-weight: 900;
	color: #000000;
	margin-bottom: 45px;
}

.info-box {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	text-align: center;
}

.info-box button {
	color: #000000;
	font-size: 20px;
	line-height: 35px;
	border: none;
	background: #fff;
	text-transform: uppercase;
	padding: 5px 5px;
	transition: .1s ease-in-out;
	border-bottom: 2px solid #fff;
	cursor: pointer;
}

.info-box button.active {
	border-bottom: 2px solid #000;
}

.info-box button:not(:last-child) {
	margin-right: 70px;
}

.info-box button:focus {
	outline: none;
}

.static p {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.static p:not(:last-child) {
	margin-bottom: 30px;
}

.boxes {
	display: flex;
	justify-content: space-between;
}

.static {
	width: 55%;
}

.static__gray {
	width: 40%;
	background: #F7F7F8;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 80px;
	min-height: 220px;
}

.static__gray span {
	font-weight: 900;
	font-size: 35px;
	line-height: 45px;
	color: #000000;
}

.boxes {
	opacity: 0;
	transition: .3s ease-in-out;
	position: absolute;
	margin: 0 auto;
	width: 1100px;
}

.info-boxes {
	min-height: 300px;
	padding-top: 55px;
}

.boxes.active {
	opacity: 1;
}

.n-card--items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.n-card__item {
	width: 23%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 50px 20px 35px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: 2%;
}

.n-card__num {
	color: #DE2431;
	font-weight: 900;
	font-size: 45px;
	line-height: 30px;
	margin-bottom: 20px;
}

.n-card__num.rotate {
	transform: rotate(90deg);
	width: min-content;
}

.n-card__text {
	color: #000000;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
}

.p-item__header {
	background: #F7F7F8;
	padding: 20px 25px 20px 37px;
	display: flex;
	justify-content: space-between;
}

.p__module {
	color: #A4A4A4;
	font-size: 18px;
	line-height: 30px;
	width: 150px;
}

.p__title,
.p__ico {
	font-weight: 900;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.p__title {
	width: 100%;
}

.program-items {
	max-width: 960px;
	margin: 0 auto;
}

.p-item__content {
	padding: 17px 100px 25px 160px;
}

.p__item-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	padding-bottom: 10px;
}

.p__item-text {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.p-item__content .p__item-in:not(:last-child) {
	margin-bottom: 25px;
}

.p-item {
	transition: .3s ease-in-out;
	overflow: hidden;
}

.program-items .p-item:not(:last-child) {
	margin-bottom: 10px;
}

.title-program {
	font-size: 45px;
	line-height: 35px;
	font-weight: 900;
	color: #000000;
	margin-bottom: 50px;
	display: block;
	text-align: center;
}

.program-bg {
	padding: 6rem 0;
}

.p__ico {
	color: #F7F7F8;
}

.p__ico:after {
	content: '+';
	position: relative;
	color: #000;
	transition: .3s ease-in-out;
}

.p__ico.max:after {
	content: '-';
	position: relative;
	color: #000;
}

.p__item-text ul {
	list-style: none;
}

.p__item-text ul li {
	position: relative;
}

.p__item-text ul li::before {
	content: '-';
	position: relative;
	left: -10px;
}

.speaker {
	background: #171718;
}

.speaker__content {
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.speaker__name:after {
	display: none;
}

.speaker__name {
	color: #DE2431;
	text-transform: unset;
}

.speaker__name p {
	text-transform: unset;
	color: #fff !important;
	opacity: 1 !important;
}

.question-title {
	font-size: 45px;
	line-height: 35px;
	font-weight: 900;
	text-align: center;
	margin-bottom: 70px;
	color: #000000;
}

.question__header span {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
}

.question__text {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	color: #000000;
	padding-left: 50px;
}

.question__header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.question__header--img {
	width: 36px;
	margin-right: 14px;
}

.question__header--img img {
	width: 100%;
}

.question-items {
	max-width: 780px;
	margin: 0 auto;
}

.question-items .question-item:not(:last-child) {
	margin-bottom: 20px;
}

.question-bg {
	padding: 6rem 0;
}

.form-bg {
	padding: 8rem 0 6rem;
}

.form-title {
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 40px;
}

@media(min-width: 963px) {
	.social-container.desk {
		display: block;
	}
}

.form-title p {
	font-size: 45px;
	line-height: 35px;
	font-weight: 900;
	margin-bottom: 10px;
}

.form-title span {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}

.form__block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 7rem;
}

.form__row {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
}

.form__row p {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 12px;
	margin-top: 5px;
}

.form__row span {
	font-weight: 300;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
}

.form {
	padding: 0 !important;
}

.form__field {
	min-width: 24%;
}

.form__fields {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 42px;
	background: #FFFFFF;
	box-shadow: 0px 5px 50px #000000;
	border-radius: 5px;
}

.form__button,
.form__field {
	margin-bottom: 0;
}

.send-form,
.form__field,
.form__field input {
	height: 50px !important;
	border-radius: 5px;
}

.send-form {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #DE2431;
	width: 230px;
}

.form-noti {
	color: rgba(102, 102, 102, 0.5);
	font-size: 13px;
	line-height: 18px;
	padding-top: 20px;
	display: block;
	text-align: center;
}

.social-container {
	max-width: 1100px;
	margin: 0 auto;
}

.slick-slider {
	display: flex;
	align-items: center;
}

.slick-slide:focus {
	outline: none;
}

.slick-prev,
.slick-next {
	font-size: 0;
	line-height: 0;
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
	background: transparent;
	transition: 1s ease-in-out;
}

.slick-track,
.slick-list.draggable {
	max-height: 430px;
}

.slick-dots {
	display: flex;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -50px;
}


.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:before {
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	content: '•';
	text-align: center;
	opacity: .25;
	border-radius: 50%;
	border: 0.5px solid rgba(0, 0, 0, 0.3);
	color: transparent;
	-webkit-font-smoothing: antialiased;
	transition: .2s ease-in-out;
}

.slick-dots li.slick-active button:before {
	background: rgba(0, 0, 0, 0.3);
}

.slick-slide img {
	width: 100%;
	border-radius: 3px;
}

.slick-next:before {
	content: url(http://constructor.biz.ua/tilda-img/owner/assets/snext.svg);
}

.slick-prev:before {
	content: url(http://constructor.biz.ua/tilda-img/owner/assets/sprev.svg);
}

.slick-next {
	right: -70px;
}

.slick-prev {
	left: -70px;
}

.slick-prev,
.slick-next {
	top: 150px;
	opacity: .7;
	transition: .2s ease-in-out
}

.slick-prev:hover,
.slick-next:hover {
	opacity: 1;
}

.social {
	padding: 6rem 0;
}

.social-container.desk {
	max-height: 430px;
}

.social__title {
	max-width: 1100px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 45px;
	line-height: 35px;
	color: #000000;
}

@media(max-width: 768px) {
	.social-container {
		max-width: 100%;
	}

	.slick-list {
		padding-left: 40px;
	}

	.slick-track {
		padding-left: 20px;
	}
}

@media(max-width: 962px) {
	#allrecords {
		overflow: hidden;
	}

	.header {
		padding: 0 20px;
	}

	.header:after {
		display: none;
	}

	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		background-color: #fff;
	}

	.sticky-wrapper.is-sticky .hamburger-inner,
	.sticky-wrapper.is-sticky .hamburger-inner:after,
	.sticky-wrapper.is-sticky .hamburger-inner:before {
		background-color: #000;
	}

	#allrecords .sticky-wrapper a.menu__item {
		color: #000 !important;
	}

	.first-section {
		height: calc(100% - 64px);
	}

	.first-info {
		flex-direction: column;
		align-items: center;
	}

	.first {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5rem 0 12rem;
	}

	.first--title {
		font-size: 40px;
		line-height: 48px;
		text-align: center;
	}

	.first--info__item {
		flex-direction: column;
	}

	.first-info .first--info__item:not(:last-child) {
		margin-right: 0;
	}

	.first--info__item img {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.first-info .first--info__item:not(:last-child) {
		margin-bottom: 20px;
	}

	.first-btn button {
		min-width: 250px;
	}

	.first-info .first--info__item:nth-child(1) {
		order: 2;
	}

	.first-info .first--info__item:nth-child(2) {
		order: 1;
	}

	.first-info .first--info__item:nth-child(3) {
		order: 3;
	}

	.first-bg {
		background: url(http://constructor.biz.ua/tilda-img/owner/assets/bgmob.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.card--title {
		font-size: 25px;
		line-height: 34px;
		text-align: center;
		padding-bottom: 10px;
	}

	.card-bg,
	.feature-bg,
	.study-bg,
	.countries-bg,
	.info-bg,
	.program-bg,
	.question-bg,
	.form-bg {
		padding: 3rem 0 3rem;
	}

	.container {
		padding: 0 20px;
	}

	.card--items {
		flex-direction: column;
	}

	.card--item {
		width: 100%;
	}

	.card--items .card--item:not(:last-child) {
		margin-bottom: 20px;
	}

	.card--item__text {
		font-size: 19px;
		line-height: 28px;
	}

	.card--item__text {
		padding-top: 20px;
	}

	.line-red {
		padding: 36px 20px 35px;
	}

	.line-red--text {
		text-align: center;
		font-size: 20px;
		line-height: 28px;
	}

	.title-we {
		font-size: 25px;
		line-height: 34px;
		padding: 0 30px 20px 30px;
	}

	.we-items {
		padding: 30px 0;
	}

	.we--item {
		text-align: center;
		font-size: 19px;
		line-height: 28px;
	}

	.we-items .we--item:not(:last-child) {
		margin-bottom: 20px;
	}

	.feature-title {
		font-size: 22px;
		line-height: 34px;
		text-align: center;
	}

	.feature-items {
		flex-direction: column;
	}

	.feature-item {
		width: 100%;
	}

	.feature-title {
		margin-bottom: 20px;
	}

	.feature--text {
		font-size: 18px;
		line-height: 30px;
	}

	.feature-item img {
		margin-bottom: 10px;
	}

	.feature-items .feature-item:not(:last-child) {
		margin-bottom: 20px;
	}

	.study {
		flex-direction: column;
	}

	.study-item {
		width: 100%;
	}

	.study-title {
		font-size: 22px;
		line-height: 34px;
		margin-bottom: 10px;
	}

	.study-text p:not(:last-child) {
		margin-bottom: 15px;
	}

	.study .study-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.countries-bg {
		padding-bottom: 25rem;
		background: url(http://constructor.biz.ua/tilda-img/owner/assets/map.png) no-repeat, #171718;
		background-size: contain;
		background-position: bottom;
	}

	.info-box,
	.info-boxes {
		display: none;
	}

	.program-items.mob {
		display: flex !important;
		flex-direction: column;
	}

	.p__module,
	.p__ico {
		width: 25%;
	}

	.p__title {
		width: 50%;
		text-align: center;
	}

	.p__ico {
		text-align: right;
	}

	.p-item__content {
		padding: 17px 0 20px;
	}

	.program-items.mob .p__item-title {
		padding-bottom: 0px;
		padding-top: 10px;
	}

	.info-title {
		font-size: 25px;
		line-height: 34px;
		text-align: center;
		margin-bottom: 20px;
	}

	.n-card__item {
		width: 48%;
		margin-bottom: 4%;
		border: none;
		align-items: center;
		padding: 15px 20px;
	}

	.n-card__text {
		text-align: center;
		font-size: 16px;
		line-height: 24px;
	}

	.n-card {
		padding: 3rem 0 0;
	}

	.title-program {
		font-size: 25px;
		line-height: 34px;
		text-align: left;
		margin-bottom: 30px;
	}

	.program-bg.last .p-item__header {
		background: #fff;
		padding: 0;
		position: relative;
		flex-direction: column;
		padding-bottom: 17px;
		justify-content: center;
	}

	.program-bg.last .p__module,
	.program-bg.last .p__ico,
	.program-bg.last .p__title {
		width: 100%;
	}

	.program-bg.last .p__title,
	.program-bg.last .p__module {
		text-align: left;
		font-size: 18px;
		line-height: 25px;
	}

	.program-bg.last .p__ico {
		position: absolute;
		right: 20px;
		top: 22px;
	}

	.program-bg.last .p-item__content {
		background: #F7F7F8;
	}

	.program-bg.last .container {
		padding: 0;
	}

	.program-bg.last .title-program,
	.program-bg.last .p-item__header,
	.program-bg.last .p__item-in {
		padding: 0 20px;
	}

	.program-bg.last .program-items .p-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.program-bg.last .p__title {
		padding-right: 20px;
	}

	.speaker__content {
		flex-direction: column-reverse;
	}

	.speaker__photo {
		max-width: 270px;
		margin: 0 auto;
	}

	.speaker {
		padding: 0 0 3rem 0 !important;
	}

	.speaker__photo img {
		content: url(http://constructor.biz.ua/tilda-img/owner/assets/kk-mob.png);
	}

	.speaker__name {
		padding-top: 0;
	}

	.speaker__text {
		position: relative;
		top: -50px;
	}

	.question-items {
		display: none;
	}

	.program-items.question {
		display: flex !important;
	}

	.question-title {
		font-size: 25px;
		line-height: 34px;
		text-align: center;
		margin-bottom: 30px;
	}

	.program-items.question .p-item__header {
		background: #fff;
		padding: 0;
		flex-direction: column;
		justify-content: flex-start;
	}

	.program-items.question .p-item {
		position: relative;
	}

	.program-items.question .p__ico,
	.program-items.question .p__title {
		width: 100%;
	}

	.program-items.question .p__title {
		text-align: left;
		font-size: 18px;
		line-height: 25px;
	}

	.program-items.question .p__ico {
		position: absolute;
		right: 0;
		top: -6px;
		text-align: left;
	}

	.program-items.question .container {
		padding: 0;
	}

	.program-items.question .program-items .p-item:not(:last-child) {
		margin-bottom: 30px;
	}

	.program-items.question .p__title {
		padding-left: 20px;
	}

	.program-items.question .p-item.p-item-block-max .p__ico:after,
	.program-items.question .p-item .p__ico:after {
		left: -13px;
	}

	.program-items.question .p__item-in {
		padding-left: 20px;
	}

	.form-title p {
		font-size: 25px;
		line-height: 34px;
	}

	.form-title span {
		font-size: 20px;
		line-height: 30px;
	}

	.form__block {
		flex-direction: column;
	}

	.form__row {
		width: 100%;
	}

	.form__block .form__row:not(:last-child) {
		margin-bottom: 15px;
	}

	.form__fields {
		flex-direction: column;
		padding: 32px 27px;
	}

	.form__field,
	.send-form,
	.form__button {
		width: 100%;
	}

	.form__field {
		margin-bottom: 23px;
	}

	.social-container.desk {
		display: none;
	}

	.social-container.mob {
		display: block !important;
	}

	.slick-list {
		padding-left: 0;
	}

	.logo__slider {
		max-width: 50px;
		border-radius: 0;
		margin-bottom: 20px;
	}

	.__slider-content {
		font-size: 19px !important;
		line-height: 30px !important;
		text-align: center;
		padding: 0 10px;
		margin-bottom: 10px;
	}

	.__slider-inst {
		max-width: 20px !important;
		margin-bottom: 10px;
	}

	.slick-track {
		padding-left: 0 !important;
	}

	.__slider-company {
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		text-align: center;
		color: #000000;
		margin-bottom: 20px;
	}

	.__slider-name {
		display: block;
		color: #DE2431;
		font-weight: 500;
		font-size: 19px;
		line-height: 30px;
		position: relative;
	}

	.__slider-name::after {
		content: '';
		background: #DE2431;
		position: relative;
		height: 1px;
		width: 100%;
		top: 0;
	}

	.slick-slide {
		display: flex !important;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.social__title {
		font-size: 25px;
		line-height: 34px;
		text-align: center;
		margin-bottom: 20px;
	}
}

.p-item__content {
	max-height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	transition: .3s ease-in-out;
}

.p-item__content.p-item-block-max {
	max-height: 1300px;
	padding-top: 17px;
	padding-bottom: 25px;
}

.program-bg {
	padding-bottom: 10rem;
}

.program-bg .p-item__header {
	padding-bottom: 17px !important;
}

@media (max-width: 962px) {
	.program-bg {
		padding-bottom: 6rem;
	}
}

.menu__item:hover {
	background: transparent;
}

.menu__item:after {
	background: #DE2431;
}

.meet-title {
	font-size: 45px;
	line-height: 35px;
	text-align: center;
	font-weight: 900;
	color: #000000;
	margin-bottom: 45px;
}

.meet-item img {
	width: 100%;
}

.meet-bg {
	padding: 6rem 0;
}

@media(max-width: 962px) {
	.meet-title {
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 15px;
	}

	.meet-bg {
		padding: 3rem 0;
	}

}
