/* *********************************************************************************** */
/* root style */
:root {
    --main-color: #0270D4;
    --main-dark-color: #454545;
    --main-sub-color: #6B6B6B;
    --dark-color: #000000;
    --white-color: #ffffff;


    --fs-text-title: 46px;
    --fs-text-content: 21px;
    --pd-dsection: 60px 0;
    --pd-msection: 30px 0
}

/* *********************************************************************************** */
/* flex style */

.flex {
    display: flex
}

.direction--column {
    flex-direction: column
}

.direction--row {
    flex-direction: row
}

.space-between {
    justify-content: space-between
}

.space-around {
    justify-content: space-around
}

.justify-center {
    justify-content: center
}

.align-center {
    align-items: center
}

.flex-start {
    align-items: flex-start
}

.wrap {
    flex-wrap: wrap;
}

@media(min-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: row
    }
}

@media(max-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: column
    }
}


/* *********************************************************************************** */
/* Padding style */
@media(max-width: 768px) {
    .pd-main {
        padding: var(--pd-msection)
    }
}

@media(min-width: 768px) {
    .pd-main {
        padding: var(--pd-dsection)
    }
}


/* *********************************************************************************** */
/* Font style */
h6.title {
    font-size: var(--fs-text-title);
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw900 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.w100 {
    width: 100%;
}