:root {
    --main-color: #263238;
    --main-sub-color: #7F5AF0;
    --main-sub-text: #7C7C7C;
    --dark-color: #000000;
    --white-color: #fff;
    --pd-dsection: 60px 0;
    --pd-msection: 30px 0
}
.flex {
    display: flex !important
}

.direction--column {
    flex-direction: column
}

.space-between {
    justify-content: space-between
}

.justify-center {
    justify-content: center
}

.align-center {
    align-items: center
}

.wrap {
    flex-wrap: wrap
}

@media(min-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: row
    }
}

@media(max-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: column
    }

    .pd-main {
        padding: var(--pd-msection)
    }

    .deskonly {
        display: none;
        visibility: hidden
    }
}

.sub-color {
    color: var(--main-sub-color)
}

h6.title {
    font-size: 28px;
    line-height: 32px
}

.title--main {
    margin-bottom: 30px
}

@media(min-width:768px) {
    h6.title {
        font-size: 30px;
        line-height: 36px
    }

    .pd-main {
        padding: var(--pd-dsection)
    }

    h6.title {
        font-size: 35px;
        line-height: 42px
    }

    p.additional-text {
        font-size: 18px;
        line-height: 24px
    }
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

p.additional-text {
    font-size: 16px;
    line-height: 20px
}

.fs14-lh17 {
    font-size: 14px;
    line-height: 17px
}

.fs16-lh22 {
    font-size: 16px;
    line-height: 22px
}

.fs18-lh22 {
    font-size: 18px;
    line-height: 22px
}

.fw400 {
    font-weight: 400
}

.fw500 {
    font-weight: 500
}

.fw900 {
    font-weight: 900
}

.uppercase {
    text-transform: uppercase
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.w100 {
    width: 100%
}

.h100 {
    height: 100%;
}

.object-fit {
    object-fit: cover;
}

.bg-center-norepeat-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

@media(min-width:768px) {
    .mobonly {
        display: none
    }
}