/* *********************************************************************************** */
/* root style */
:root {
    --main-color: #0066cc;
    --main-dark-color: #454545;
    --main-sub-color: #6B6B6B;
    --dark-color: #000000;
    --white-color: #fff;
    --pd-dsection: 60px 0;
    --pd-msection: 30px 0
}

/* *********************************************************************************** */
/* flex style */

.flex {
    display: flex
}

.direction--column {
    flex-direction: column
}

.direction--row {
    flex-direction: row
}

.space-between {
    justify-content: space-between
}

.justify-center {
    justify-content: center
}

.align-center {
    align-items: center
}

.flex-start {
    align-items: flex-start
}

@media(min-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: row
    }
}

@media(max-width:768px) {
    .direction--mcolumn--drow {
        flex-direction: column
    }

    .pd-main {
        padding: var(--pd-msection)
    }

    .deskonly {
        display: none;
        visibility: hidden
    }
}

/* *********************************************************************************** */
/* Font style */
h6.title {
    font-size: 30px;
    line-height: 36px
}

.title--main {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .pd-main {
        padding: var(--pd-dsection)
    }

    h6.title {
        font-size: 34px;
        line-height: 41px
    }
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

p.additional-text {
    font-size: 18px;
    line-height: 25px
}

@media(min-width:768px) {
    p.additional-text {
        font-size: 22px;
        line-height: 29px
    }
}

.fs14-lh17 {
    font-size: 14px;
    line-height: 17px
}

.fw900 {
    font-weight: 900
}

.uppercase {
    text-transform: uppercase
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.w100 {
    width: 100%
}

.h100 {
    height: 100%
}