<script>
    let table = [{
                key: '0608',
                url: ''
            },
            {
                key: '0708',
                url: ''
            },
            {
                key: '0808',
                url: ''
            },
            {
                key: '0908',
                url: ''
            },
            {
                key: '1008',
                url: ''
            }, {
                key: '1108',
                url: ''
            },
        ],
        dateTime = new Date,
        zeroHours = dateTime.getHours(),
        currentTime = +(dateTime.getDate() + "" + ("0" + zeroHours).slice(-2));

    const found = table.find(el => el.key > currentTime);


    let utm = location.search,
        url = new URL(found.url);

    url.search = utm;

    location.replace(url);
</script>