<script>
    let table = [{
          // ПН
          key: '2',
          url: ''
        },
        {
          // ВТ
          key: '3',
          url: ''
        },
        {
          // СР
          key: '4',
          url: ''
        },
        {
          // ЧТ
          key: '5',
          url: ''
        },
        {
          // ПТ
          key: '6',
          url: ''
        }, {
          // СБ
          key: '7',
          url: ''
        }
      ],
      dateTime = new Date,
      zeroHours = dateTime.getDay();
  
    let utm = location.search,
      url = '';
  
    // Проверка на ВС
    if (zeroHours == 0) {
      url = new URL('');
    } else {
      const found = table.find(el => el.key > zeroHours);
      url = new URL(found.url);
    }
  
    // Редирект для ПН-СБ
    url.search = utm;
    location.replace(url);
  </script>