<!-- Футер -->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer-col one-col">
        <div class="footer-col-title">Полезно</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer"><a href="http://bizconstructor.com/about" target="_blank">О Нас</a></li>
            <li class="list-footer"><a href="http://bizconstructor.com/blog" target="_blank">Блог Бизнес-Конструктор</a>
            </li>
            <li class="list-footer"><a href="http://www.kunitsky.com/" target="_blank">Блог Кирилла Куницкого</a></li>
            <li class="list-footer"><a href="https://www.work.ua/jobs/by-company/448901" target="_blank">Работа в
                Бизнес-Конструктор
                UA</a></li>
            <li class="list-footer"><a href="https://hh.kz/employer/1702059" target="_blank">Работа в Бизнес-Конструктор
                KZ</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col second-col">
        <div class="footer-col-title">Клиентам</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer"><a href="http://refund.bizconstructor.com" target="_blank">Условия возврата
                средств</a></li>
            <li class="list-footer"><a href="http://privacy.bizconstructor.com" target="_blank">Политика
                конфиденциальности</a></li>
            <li class="list-footer"><a href="http://terms-conditions.bizconstructor.com/" target="_blank">Публичная
                оферта UA</a></li>
            <li class="list-footer"><a href="http://terms-conditions.bizconstructor.com/kz" target="_blank">Публичная
                оферта KZ</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col three-col">
        <div class="footer-col-title">Наши соц. сети</div>
        <div class="footer-col-list desktop">
          <ul>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/fb.svg" alt=""><a
                href="https://www.facebook.com/business.constructor/" target="_blank">Facebook</a></li>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/insta.svg" alt=""><a
                href="https://www.instagram.com/business_constructor/" target="_blank">Instagram</a></li>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/youtube.svg"
                alt=""><a href="https://youtube.com/user/businessconstructor" target="_blank">Youtube</a></li>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/telega.svg"
                alt=""><a href="https://t.me/bizkonstructor" target="_blank">Telegram</a></li>
          </ul>
        </div>
        <div class="footer-col-list-mobile" style="display:none;">
          <ul>
            <li class="list-footer"><a href="https://www.facebook.com/business.constructor/" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/fb.svg" alt=""></a></li>
            <li class="list-footer"><a href="https://www.instagram.com/business_constructor/" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/insta.svg" alt=""></a></li>
            <li class="list-footer"><a href="https://youtube.com/user/businessconstructor" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/youtube.svg" alt=""></a></li>
            <li class="list-footer"><a href="https://t.me/bizkonstructor" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/telega.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col four-col">
        <div class="footer-col-title">Контакты</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer footer--contacts">
              <p><img src="https://forstas.bizconstructor.com/migrate/location-dark.svg" alt=""></p>
              <p>Киев, Боричев ток, 35В <br>Platforma Fortuna'</p>
            </li>
            <li class="list-footer footer--contacts">
              <p><img src="https://forstas.bizconstructor.com/migrate/location-dark.svg" alt=""></p>
              <p>Алматы, ул. Желтоксан 115 <br> БЦ "Kaisar Plaza"</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <div class="foter-foter">
        <p class="desktop">® Все права защищены, 2013–<span id="lastYearFooter">2020</span> Бизнес-Конструктор </p>
        <div class="mobile" style="display:none;">
          <p>® Все права защищены,</p>
          <p>2013–<span id="lastYearFooterMob">2020</span> Бизнес-Конструктор</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Футер RU -->
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer-col one-col">
        <div class="footer-col-title">Полезно</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer"><a href="http://bizconstructor.com/about" target="_blank">О Нас</a></li>
            <li class="list-footer"><a href="http://bizconstructor.com/blog" target="_blank">Блог Бизнес-Конструктор</a>
            </li>
            <li class="list-footer"><a href="http://www.kunitsky.com/" target="_blank">Блог Кирилла Куницкого</a></li>
            <li class="list-footer"><a href="https://hh.kz/employer/1702059" target="_blank">Работа в Бизнес-Конструктор
                KZ</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col second-coll">
        <div class="footer-col-title">Клиентам</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer"><a href="http://refund.bizconstructor.com/ru/" target="_blank">Условия возврата
                средств</a></li>
            <li class="list-footer"><a href="http://privacy.bizconstructor.com/kz/" target="_blank">Политика
                конфиденциальности</a></li>
            <li class="list-footer"><a href="http://terms-conditions.bizconstructor.com/kz" rel="nofollow">Публичная
                оферта</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col three-coll">
        <div class="footer-col-title">Наши соц. сети</div>
        <div class="footer-col-list desktop">
          <ul>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/youtube.svg"
                alt=""><a href="https://youtube.com/user/businessconstructor" target="_blank">Youtube</a></li>
            <li class="list-footer footer-img"><img src="https://forstas.bizconstructor.com/migrate/telega.svg"
                alt=""><a href="https://t.me/bizkonstructor" target="_blank">Telegram</a></li>
          </ul>
        </div>
        <div class="footer-col-list-mobile" style="display:none;">
          <ul>
            <li class="list-footer"><a href="https://youtube.com/user/businessconstructor" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/youtube.svg" alt=""></a></li>
            <li class="list-footer"><a href="https://t.me/bizkonstructor" target="_blank"><img
                  src="https://forstas.bizconstructor.com/migrate/telega.svg" alt=""></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-col four-coll">
        <div class="footer-col-title">Контакты</div>
        <div class="footer-col-list">
          <ul>
            <li class="list-footer footer--contacts">
              <p><img src="https://forstas.bizconstructor.com/migrate/location-dark.svg" alt=""></p>
              <p>Алматы, ул. Желтоксан 115 <br> БЦ "Kaisar Plaza"</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__content">
      <div class="foter-foter">
        <p class="desktop">® Все права защищены, 2013–<span id="lastYearFooter">2020</span> Бизнес-Конструктор </p>
        <div class="mobile" style="display:none;">
          <p>® Все права защищены,</p>
          <p>2013–<span id="lastYearFooterMob">2020</span> Бизнес-Конструктор</p>
        </div>
      </div>
    </div>
  </div>
</footer>