<!-- Первый экран -->

<div class="hero flex relative align-center" data-img-lg="https://forstas.bizconstructor.com/tilda-assets/">
  <!-- data-img-lg - линк вижуала десктоп \\ data-img-xs - моб -->
  <div class="hero__content w100">
    <div class="hero__content__top">
      <div class="hero__type flex align-center ">
        <div class="type__icon fw500">TYPE</div> <!-- тип меророприятия -->
        <div class="type__text fs14-lh17 f400">TYPE TEXT</div>
        <!-- текст после плажки -->
      </div>
      <h1 class="hero__title uppercase">TITLE</h1> <!-- название мероприятия -->
      <h2 class="hero__description">Description</h2> <!-- дискриптор -->

      <div class="hero__icons flex direction--column">
        <div class="hero__icon fs18-lh22 fw900"><span class="cDate"></span></div> <!-- дата-->
        <div class="hero__icon fs18-lh22 fw900"><span class="cDuration"></span></div> <!-- длительность -->
        <div class="hero__icon fs18-lh22 fw900"><span class="cLocation"></span>
        </div> <!-- город -->
      </div>
    </div>
    <div class="hero__content__bottom relative">
      <div class="hero__buttons flex">
        <button class="button button--short" data-href="#form">Зарегистрироваться</button>
        <button class="button button--transparent" data-href=".ms-card">Подробнее</button>
      </div> <!-- кнопки -->
    </div>
  </div>
</div>