<!-- Программа -->
<section class="program-bg last">
  <div class="container">
    <span class="title-program">Программа мероприятия</span>
    <div class="program-items">
      <h2>Ваш браузер не поддерживает показ этого экрана. Обновите версию браузера.</h2>
    </div>
  </div>
</section>

<script>
  const programItems = [{
    title: '',
    desk: '',
    item_list: [
      '',
    ]
  }];

  function generateSection() {
    for (let i = 0; i < programItems.length; i++) {
      let moduleLi = [];

      programItems[i].item_list.forEach(item_list => {
        moduleLi.push(`<li>${item_list}</li>`);
      });

      let myList = moduleLi.join('');

      $('.program-items').append(`
          <div class="p-item">
              <div class="p-item__header">
                  <span class="p__module">Модуль ${i+1}</span>
                  <span class="p__title">${programItems[i].title}</span>
                  <span class="p__ico">+</span>
              </div>
              <div class="p-item__content">
                  <div class="p__item-in">
                      <p class="p__item-title">Цель уровня</p>
                      <span class="p__item-text">${programItems[i].desk}</span>
                  </div>

                  <div class="p__item-in">
                      <p class="p__item-title">Документы:</p>
                      <span class="p__item-text">
                          <ul>${myList}</ul>
                      </span>
                  </div>
              </div>
          </div>
          `)
    };
  };
  // Ф-я создания списка
  generateSection();

  // Проверка на пустоту документов
  $('.p__item-text ul:empty').parent().parent().hide();
</script>