<div class="modal flex justify-center" id="modal__quiz">
    <div class="modal__overlay" data-modal-close="#modal__quiz"></div>
    <div class="flex align-center modal__container">
        <div class="pm module-item module-item-modal relative">
            <div class="module-item__list">
                <h6 class="quiz__title active_color">Спасибо за ваш ответ!</h6>

                <div id="container" class="quiz-items">
                    <div id="quiz" class="quiz-item"></div>
                    <div class='button quiz_button' id='prev'>Назад</div>
                    <div class='button quiz_button' id='next'>Далее</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Вопросы квиза-->
<script>
    const questions = [{
        question: "Мы стараемся сделать вебинар максимально полезным и актуальным для вас. Расскажите, почему вы заинтересовались обучением",
        choices: [{
            text: 'Я собственник бизнеса и хочу уйти от хаоса',
            value: 'Собственник&#032;бизнеса'
          },
          {
            text: 'Я руководитель и хочу повысить показатели отдела',
            value: 'Топ-менеджер'
          },
          {
            text: 'Я наемный сотрудник и хочу понять, как работать эффективнее',
            value: 'Сотрудник'
          },
          {
            text: 'Я планирую запуск своего бизнеса и хочу делать это сразу правильно',
            value: 'Стартап'
          }
        ],
        key: 'rolecompany'
      }, {
        question: "Последний вопрос.<br> Сколько сотрудников в вашей компании?",
        choices: [{
            text: 'От 1 до 5',
            value: 3
          },
          {
            text: 'От 6 до 10',
            value: 8
          },
          {
            text: 'От 11 до 20',
            value: 15
          },
          {
            text: 'От 21 до 50',
            value: 35
          },
          {
            text: 'От 51 до 100',
            value: 75
          },
          {
            text: 'От 100',
            value: 101
          }
        ],
        key: 'countcompany'
      }];
    </script>

<link rel="stylesheet" href="https://forstas.bizconstructor.com/tilda-assets/src/quiz/modalquiz.css">