<!-- Новый экран спикера -->
<section class="speaker pd-main">
   <div class="container">
      <div class="speaker-wrapper flex space-between align-center direction--mcolumn--drow">
         <div class="speaker__info">
            <div class="speaker__info--header flex align-center">
               <div class="speaker--logo flex justify-center ">
                  <img loading="lazy" src="https://forstas.bizconstructor.com/tilda-assets/esb/i-speaker.svg" alt="">
               </div>
               <h5 class="speaker--name">
                  <span class="type-event">Практикум ведет</span>
                  Кирилл Куницкий
               </h5>
            </div>

            <div class="speaker__info--text">
               <p class="additional-text">
                  <b>Кирилл Куницкий</b> — основатель международной <br class="deskonly"> образовательно-консалтинговой компании<br class="mobonly">
                  «Бизнес-Конструктор»,<br class="deskonly"> собственник<br class="mobonly"> с 18-летним опытом управления компаниями в сфере
                  логистики,<br class="deskonly">туризма, поставок промышленного оборудования, розничной торговли и IT.
               </p>
               <p class="additional-text">
                  <b>Визитная карточка Кирилла — </b> собственные уникальные технологии ведения <br class="deskonly"> бизнеса,
                  которые работают<br class="mobonly"> не только в его компаниях, но и успешно <br class="deskonly"> внедрены более чем в 25.000
                  предприятий участников его программ.
               </p>
            </div>

            <div class="speaker__info--btn relative">
               <button class="button button--short" data-href="#form">Зарегистрироваться</button>
            </div>
         </div>


         <div class="speaker__img">
            <picture class="speaker__img-item">
               <source media="(max-width: 768px)" srcset="https://forstas.bizconstructor.com/tilda-assets/esb/kk-m.png">
               <source media="(min-width: 768px)" srcset="https://forstas.bizconstructor.com/tilda-assets/esb/KK-d.png">
               <img loading="lazy" class="w100" src="" alt="Кирилл Куницкий"></picture>
         </div>
      </div>
   </div>
</section>