<!-- У нас проходили обучение UA -->
<section class="counterStudy pd-main">
    <div class="container">
        <h6 class="title title--main text-center">У нас проходили обучение</h6>
        <div class="counterStudy__logos flex space-between wrap">
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/agromat.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/alfa.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/bd_holding.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/biscoti.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/data.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/gastro.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group10.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group11.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group12.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group5.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group6.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group7.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group8.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/Group9.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/ohmylook.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/planeta.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/pokrovskiy.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/premier.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/stylus.png" alt=""></div>
            <div class="counterStudy__logo">
                <img loading="lazy" class="w100 object-fit"
                    src="https://forstas.bizconstructor.com/migrate/trust/verywell.png" alt=""></div>
        </div>
    </div>
</section>


<!-- У нас проходили обучение KZ -->
<section class="counterStudy pd-main">
    <div class="container">
       <h6 class="title title--main text-center">У нас проходили обучение</h6>
       <div class="counterStudy__logos flex space-between wrap">

          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/1.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/2.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/3.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/4.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/5.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/6.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/7.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/8.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/9.png"
                alt=""></div>
          <div class="counterStudy__logo">
             <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/10.png"
                alt=""></div>

       </div>
    </div>
 </section>