<!-- У нас проходили обучение -->
<section class="counterStudy pd-main">
   <div class="container">
      <h6 class="title title--main text-center">У нас проходили обучение</h6>
      <div class="counterStudy__logos flex space-between wrap">

         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/1.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/2.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/3.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/4.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/5.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/6.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/7.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/8.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/9.png"
               alt=""></div>
         <div class="counterStudy__logo">
            <img loading="lazy" class="w100 object-fit" src="https://forstas.bizconstructor.com/migrate/trustKZ/10.png"
               alt=""></div>

      </div>
   </div>
</section>